---
import Layout from "@layouts/Layout.astro";
import Heading from "@components/Heading.astro";
import PokemonList from "@components/PokemonList.astro";
---

<Layout title="Pokedex Astro">
  <main class="container py-8">
      <Heading/>
      <PokemonList/>
  </main>
</Layout>
