---

---

<h1 class="text-center text-5xl font-semibold">Astro Pokedex</h1>
<h2 class="mt-4 text-center text-lg">
  Demo app to consume a <a
    href="https://pokeapi.co"
    target="_blank"
    class="text-primary hover:underline"
  >
    PokeAPI
  </a>
</h2>
